# 代码生成
lamp:
  swagger:
    version: '@project.version@'
  nacos:
    ip: ${NACOS_IP:@nacos.ip@}
    port: ${NACOS_PORT:@nacos.port@}
    namespace: ${NACOS_NAMESPACE:@nacos.namespace@}
    username: ${NACOS_USERNAME:@nacos.username@}
    password: ${NACOS_PASSWORD:@nacos.password@}
    group: DEFAULT_GROUP
  seata:
    ip: ${SEATA_IP:@seata.ip@}
    port: ${SEATA_PORT:@seata.port@}
    namespace: ${SEATA_NAMESPACE:@seata.namespace@}
  sentinel:
    dashboard: ${SENTINEL_DASHBOARD:@sentinel.dashboard@}

  generator:
    outputDir: /Users/tangyh/gitlab/lamp-cloud
    frontOutputDir: /Users/tangyh/gitlab/lamp-web
    frontSoyOutputDir: /Users/tangyh/gitlab/lamp-web-pro-soybean
    frontVben5OutputDir: /Users/tangyh/gitlab/lamp-web-vben-max/apps/web-antd
    # 作者
    author: zuihou
    # 默认项目
    projectType: CLOUD
    #  # 去除表前缀
    #  tablePrefix:
    #    - xxx_
    #  # 去除字段前缀
    #  fieldPrefix:
    #    - xxx_
    #  # 去除字段后缀
    #  fieldSuffix:
    #    - xxx_
    # 项目前缀
    projectPrefix: 'lamp'
    superClass: SUPER_CLASS
    # 生成方式
    genType: GEN
    packageInfoConfig: # 其他配置建议保持PackageInfoConfig中的默认值
      # 生成代码位于 src/main/java 下的基础包
      parent: 'top.tangyh.lamp'
      utilParent: 'top.tangyh.basic'
    entity-config:
      # 时间类型对应策略  ONLY_DATE: java.util  SQL_PACK:java.sql  TIME_PACK: java.time
      dateType: TIME_PACK
      # Entity类的父类
      entitySuperClass: ENTITY
      # 指定生成的主键的ID类型 (${superClass} == NONE 时，新生成的实体才生效)
      idType: INPUT
      # 数据库表字段映射到实体的命名策略
      columnNaming: underline_to_camel
      # 忽略字段（字段名）
      # ignoreColumns:
      #   - xxx
      # 【实体】 是否生成字段常量
      columnConstant: false
      # 【实体、VO】是否为链式模型
      chain: true
      # 【实体、VO】 是否为lombok模型
      lombok: true
      # 乐观锁字段名称
      versionColumnName: ''
      # 乐观锁属性名称
      versionPropertyName: ''
      # 逻辑删除字段名称
      logicDeleteColumnName: ''
      # 逻辑删除属性名称
      logicDeletePropertyName: ''
      fillColumnName:
        xxx: INSERT
      # 格式化SaveVO文件名称
      formatSaveVoFileName: ''
      # 格式化UpdateVO文件名称
      formatUpdateVoFileName: ''
      # 格式化ResultVO文件名称
      formatResultVoFileName: ''
      # 格式化 PageQuery 文件名称
      formatPageQueryFileName: ''
    mapperConfig:
      formatMapperFileName: ''
      formatXmlFileName: ''
      mapperAnnotation: false
      #    columnAnnotationTablePrefix:
      #      - xxx
      baseResultMap: true
      cache: false
      baseColumnList: true
      cacheClass: org.apache.ibatis.cache.decorators.LoggingCache
    #  serviceConfig:
    #  managerConfig:
    #  controllerConfig:
    #  webProConfig:
    fileOverrideStrategy:
      entityFileOverride: OVERRIDE
      sqlFileOverride: OVERRIDE
      mapperFileOverride: EXIST_IGNORE
      xmlFileOverride: OVERRIDE
      managerFileOverride: EXIST_IGNORE
      serviceFileOverride: EXIST_IGNORE
      controllerFileOverride: EXIST_IGNORE
      apiModelFileOverride: OVERRIDE
      langFileOverride: OVERRIDE
      indexEditTreeFileOverride: EXIST_IGNORE
      dataFileOverride: EXIST_IGNORE
    constantsPackage:
      # 业务服务 后台手动改动过的枚举
      FieldFill: com.baomidou.mybatisplus.annotation.FieldFill
      SuperClassEnum: top.tangyh.lamp.generator.enumeration.SuperClassEnum
      EntitySuperClassEnum: top.tangyh.lamp.generator.enumeration.EntitySuperClassEnum
      # common 常量
      EchoDictType: top.tangyh.lamp.model.constant.EchoDictType
      EchoApi: top.tangyh.lamp.model.constant.EchoApi
      # common 公共枚举
      HttpMethod: top.tangyh.lamp.model.enumeration.HttpMethod
      BooleanEnum: top.tangyh.lamp.model.enumeration.BooleanEnum
      StateEnum: top.tangyh.lamp.model.enumeration.StateEnum
      UserStatusEnum: top.tangyh.lamp.model.enumeration.base.UserStatusEnum
      RoleCategoryEnum: top.tangyh.lamp.model.enumeration.base.RoleCategoryEnum
      ActiveStatusEnum: top.tangyh.lamp.model.enumeration.base.ActiveStatusEnum
      OrgTypeEnum: top.tangyh.lamp.model.enumeration.base.OrgTypeEnum
      FileType: top.tangyh.lamp.model.enumeration.base.FileType
      DateType: top.tangyh.lamp.model.enumeration.base.DateType
      DictClassifyEnum: top.tangyh.lamp.model.enumeration.system.DictClassifyEnum
      DataTypeEnum: top.tangyh.lamp.model.enumeration.system.DataTypeEnum


spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: @project.artifactId@
    # 此参数一定要和 lamp-gateway-server.yml 文件中配置的 路由前缀(predicates参数) 一致！ （可以参考 system或base 服务）
    path: /generator
  profiles:
    active: '@profile.active@'
  config:
    import:
      - nacos:common.yml?group=${lamp.nacos.group}&refresh=true
      - nacos:redis.yml?group=${lamp.nacos.group}&refresh=true
      - nacos:@database.type@?group=${lamp.nacos.group}&refresh=true
      - nacos:rabbitmq.yml?group=${lamp.nacos.group}&refresh=true
      - nacos:${spring.application.name}.yml?refresh=true
  cloud:
    sentinel:
      enabled: true
      filter:
        enabled: true
      eager: true  # 取消Sentinel控制台懒加载
      transport:
        dashboard: ${lamp.sentinel.dashboard}
    nacos:
      server-addr: ${lamp.nacos.ip}:${lamp.nacos.port}
      username: ${lamp.nacos.username}
      password: ${lamp.nacos.password}
      config:
        file-extension: yml
        namespace: ${lamp.nacos.namespace}
        enabled: true
      discovery:
        server-addr: ${lamp.nacos.ip}:${lamp.nacos.port}
        namespace: ${lamp.nacos.namespace}
        metadata: # 元数据，用于权限服务实时获取各个服务的所有接口
          management.context-path: ${server.servlet.context-path:}${spring.mvc.servlet.path:}${management.endpoints.web.base-path:}
          gray_version: zuihou

logging:
  file:
    path: '@logging.file.path@'
    name: ${logging.file.path}/${spring.application.name}/root.log
  level:
    root: INFO
    # 关闭不必要的日志
    org.reflections.Reflections: off
    com.alibaba.nacos.client: error
    com.alibaba.nacos.common.remote.client: error
    com.ulisesbocchio: error
    # 开发、调试需要的日志
    top.tangyh: info
    org.springframework: info
  pattern:
    dateformat: yyyy-MM-dd HH:mm:ss.SSS
    console: "[${spring.application.name}:%X{TenantId}:%X{UserId}] %d{yyyy-MM-dd HH:mm:ss.SSS}[%5p] ${PID} [%X{trace}] [%t:%r] [%logger{50}.%M:%L] %m%n"
  logback:
    rollingpolicy:
      max-file-size: 64MB
# 用于/actuator/info
info:
  name: '@project.name@'
  description: '@project.description@'
  version: '@project.version@'


server:
  port: 18764

springdoc:
  group-configs:
    - group: 'generator'
      displayName: 'generator'
      paths-to-match: '/**'
      packages-to-scan:
        - top.tangyh.lamp.generator
        - top.tangyh.lamp.test.controller
