lamp:
  generator:
    outputDir: /Users/tangyh/github/lamp-cloud
    frontOutputDir: /Users/tangyh/github/lamp-web
    frontSoyOutputDir: /Users/tangyh/github/lamp-web-pro-soybean
    frontVben5OutputDir: /Users/tangyh/github/lamp-web-vben-max/apps/web-antd
    # 作者
    author: zuihou
    # 默认项目
    projectType: BOOT
  system:
    # 演示环境启用
    notAllowWrite: true
server:
  port: 28760